@using System.Globalization

@model Order
@{
    ViewBag.Title = "Order Details";
    CultureInfo ci = new CultureInfo("en-us");

}

<div class="text-left">
    <h2>Order #@Model.ID Details</h2>
</div>
<br />

<p><strong>Type: </strong>@Model.OrderType</p>
<p><strong>Status: </strong>@Model.Status</p>
<p><strong>Date & Time: </strong>@Model.OrderDate</p>
@if (Model.OrderType == "Delivery")
{
    <p><strong>Delivery Address: </strong>@Model.DeliveryAddress</p>
}

@* table displaying order details *@
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Type</th><th>Toppings</th><th>Quantity</th><th>Price</th>
    </thead>
    <tbody>
        @foreach (var pizza in Model.Pizzas)
        {
            <tr>
                <td>@pizza.PizzaType</td>
                <td>
                    @foreach (var topping in pizza.Toppings)
                    {
                        <span>@topping.Name - @topping.Price.ToString("C", ci)</span> <br />
                    }

                </td>
                <td>@pizza.Quantity</td>
                <td>@pizza.Price.ToString("C", ci)</td>
            </tr>

        }
        <tr>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td>@Model.Subtotal.ToString("C", ci)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Tax:</td>
            <td>@Model.Tax.ToString("C", ci)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>@Model.OrderTotal.ToString("C", ci)</strong></td>
        </tr>
    </tbody>
</table>

<br />
<br />
<a asp-controller="Order" asp-action="ViewOrders">Back to Orders</a>
